/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
@font-face {
	font-family: 'TitilliumText25L-400wt';
	src: url('/fonts/TitilliumText25L003.eot'),
		 url('/fonts/TitilliumText25L003.woff') format('woff'),
		 url('/fonts/TitilliumText25L003.otf') format('opentype'),
		 url('/fonts/TitilliumText25L003.svg#TitilliumText25L-400wt') format('svg');
 }
 
@font-face {
	font-family: 'TitilliumText25L-600wt';
	src: url('/fonts/TitilliumText25L002.eot'),
		 url('/fonts/TitilliumText25L002.woff') format('woff'),
		 url('/fonts/TitilliumText25L002.otf') format('opentype'),
		 url('/fonts/TitilliumText25L002.svg#TitilliumText25L-600wt') format('svg');
 } 
 
@font-face {
	font-family: 'TitilliumText25L-800wt';
	src: url('/fonts/TitilliumText25L001.eot'),
		 url('/fonts/TitilliumText25L001.woff') format('woff'),
		 url('/fonts/TitilliumText25L001.otf') format('opentype'),
		 url('/fonts/TitilliumText25L001.svg#TitilliumText25L-800wt') format('svg');
 } 
  
body, html { margin:0; padding:0; background:#212f34; -webkit-font-smoothing: antialiased;  font-smooth:always; font-weight:normal; }
 
h1 { color:#dbd1c7; font-family:TitilliumText25L-800wt; font-size:30px; padding:20px 0 20px 0; margin:0; }

p {  font-family: TitilliumText25L-400wt; font-size:18px; color:#dbd1c7; line-height:24px; width:580px; margin:0; }

a { color:inherit; text-decoration:none; }
a:hover { text-decoration:underline; opacity:.9; }

.center { width:868px; position:relative; margin:0 auto; display:block; clear:both; } 

header { background:url(/img/startup_explorer_pattern.jpg); background-repeat:repeat; height:188px; width:100%; border-bottom:16px solid #d55b5d; }

#logo { background:url(/img/logo.png) no-repeat; width:246px; height:126px; float:left; margin-top:46px; }

#circle { float:right; margin-top:28px; width:192px; height:132px; -webkit-border-radius: 96px; border-radius: 96px; background-color:rgba(60,213,208,.9); color:#fff; font-size:58px; font-family: TitilliumText25L-400wt; text-align:center; line-height:34px; padding-top:60px; }

#circle span { font-family:TitilliumText25L-600wt; font-size:30px; }

section { background:#2f3e44; height:420px; }

#buttons { width:176px; float:right; margin:20px 10px; }
#apple, #android { display:block; margin:16px 0 0 0; width:176px; height:58px; border:0; }

#apple { background:url(/img/bt_apple.png) no-repeat; }
#android { background:url(/img/bt_android.png) no-repeat; }

footer { padding:0 0 26px 0; }

#buddyLogo { margin:26px 0 6px 0; width:138px; height:50px; background:url(/img/buddy_logo.png) no-repeat; }













/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}